* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #e6e6e6;
    max-width: 1200px;
    margin: 0 auto;

}



header {
    background-color:#234e70;
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 0;
   
}

nav {
    background-color: #333;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


main h1 {
    grid-column: 1 / -1; /* Spans both columns */
    text-align: center;

}

.card {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
   
}

.card ul {
    padding: 10px 10px 10px 30px;
}

.card ul li {
    margin-bottom: 10px;
}

.card h2 {
    background-color: #234e70;
    color: white;
    padding: 10px;
    text-align: center;
}

.card h3 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 5px;
}


.card:last-child {
    padding-bottom: 20px;
}


.third-paragraph {
    padding: 15px;
    line-height: 1.5;
}


/* ABOUT SECTION */

.about-me {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 15px;
}



.first-paragraph {
    line-height: 1.6;
}


.profile-img {
    border-radius: 5px;
}

/* COUNTRY SECTION */

.country {
    padding: 15px;
}

.country h3 {
    margin-bottom: 20px;
}

.country-info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.second-paragraph {
    line-height: 1.5;
}


.porto-alegre-img {
    width: 220px;
    border-radius: 5px;
    margin-top: 5px;
}

figcaption {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
}

/* FOOTER */

footer {
    background-color: #234e70;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;

}

#lastModified {
    font-size: 0.9rem;
    color: yellow;
}

