
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #f4f6fb;
    color: #1f2937;
    line-height: 1.5;
}

/* HEADER */
header {
    background: #800080;
    color: #f4f6fb;
    text-align: center;
    padding: 1.5rem;
}

/* MAIN LAYOUT */
main {
    padding: 1rem;
}

/* FORM CARD */
.review-form {
    max-width: 600px;
    margin: auto;
    background: #f4f6fb;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* FIELDSETS */
fieldset {
    border: none;
    margin-bottom: 1.4rem;
    padding: 0;
}

/* LABELS */
label {
    display: block;
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
}

.form-label {
    font-weight: 700;
}

/* INPUTS */

input,
select,
textarea {
    font: inherit;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 0.3rem;
}


/* TEXTAREA */
textarea {
    resize: vertical;
}


/* make stars slightly bigger */
fieldset input[type="radio"] {
    transform: scale(1.1);
}

/* BUTTON */
input[type="submit"] {
    width: 100%;
    padding: 0.9rem;
    background: #800080;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

input[type="submit"]:hover {
    background: #464a54;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #464a54;
}